<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/grid.css">
</head>
<body>
    <main>
        <section class="display-container">
            <h1 class="display" id="display"></h1>
            <h2 class="previous-number" id="previous"></h2>
        </section>
        <section class="grid-container">
            <button class="calc-btn" id="nine">9</button>
            <button class="calc-btn" id="eight">8</button>
            <button class="calc-btn" id="seven">7</button>
            <button class="calc-btn" id="six">6</button>
            <button class="calc-btn" id="five">5</button>
            <button class="calc-btn" id="four">4</button>
            <button class="calc-btn" id="three">3</button>
            <button class="calc-btn" id="two">2</button>
            <button class="calc-btn" id="one">1</button>
            <button class="calc-btn" id="zero">0</button>
            <button class="operation-btn" id="plus">&plus;</button>
            <button class="operation-btn" id="minus">&minus;</button>
            <button class="operation-btn" id="times">&times;</button>
            <button class="operation-btn" id="divide">&divide;</button>
            <button class="equals-btn" id="equals">&equals;</button>
            <button class="special-btn" id="ac">AC</button>
            <button class="special-btn" id="del">DEL</button>
        </section>
    </main>
    <script src="javascripts/index.js"></script>
</body>
</html>